<h1 mat-dialog-title>Article</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>titre *</mat-label>
        <input matInput type="text" name="titre" formControlName="titre">
        <mat-error *ngIf="formInstance.controls['titre']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>contenu *</mat-label>
        <input matInput type="text" name="contenu" formControlName="contenu" />
        <mat-error *ngIf="formInstance.controls['contenu']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>date *</mat-label>
          <input matInput type="text" name="date" formControlName="date" />
          <mat-error *ngIf="formInstance.controls['date']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>
  </form>
</div>
<div class="mt-5" mat-dialog-actions>
    <button mat-button mat-dialog-close>fermer</button>
</div>
