.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .mat-form-field {
    margin-right: 12px;
  }
  .valid-data {
    background-color: green;
  }