<a routerLink="/addPost" ><button mat-raised-button color="primary">Ajouter</button></a>
<mat-toolbar>List des blogs</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="subtitle">
      <th mat-header-cell *matHeaderCellDef> Sous Titre </th>
      <td mat-cell *matCellDef="let element"> {{element.subtitle}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="small_image">
      <th mat-header-cell *matHeaderCellDef> Image Réduite </th>
      <td mat-cell *matCellDef="let element"> {{element.small_image}} </td>
    </ng-container>
   
    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Contenu </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
      </ng-container>
     
      <ng-container matColumnDef="create_on">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.create_on}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
     <td mat-cell *matCellDef="let row">
    <button mat-button (click)="edit(row)" >modifier</button>
    <button mat-button (click)="delete(row)">supprimer</button>
     </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 
